@font-face {
  font-family: 'bpreplaybold_italic';
  src: url('/assets/fonts/BPreplayBoldItalics.otf');
}

#cssload-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 109px;
  height: 109px;
  margin: auto;
}
#cssload-loader .cssload-dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 54.5px;
  height: 100%;
  margin: auto;
}
#cssload-loader .cssload-dot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 54.5px;
  height: 54.5px;
  border-radius: 100%;
  transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
}
#cssload-loader .cssload-dot:nth-child(7n+1) {
  transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
#cssload-loader .cssload-dot:nth-child(7n+1):before {
  background: rgb(0,255,128);
  animation: cssload-load 0.92s linear 0.12s infinite;
    -o-animation: cssload-load 0.92s linear 0.12s infinite;
    -ms-animation: cssload-load 0.92s linear 0.12s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.12s infinite;
    -moz-animation: cssload-load 0.92s linear 0.12s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+2) {
  transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#cssload-loader .cssload-dot:nth-child(7n+2):before {
  background: rgb(0,255,234);
  animation: cssload-load 0.92s linear 0.23s infinite;
    -o-animation: cssload-load 0.92s linear 0.23s infinite;
    -ms-animation: cssload-load 0.92s linear 0.23s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.23s infinite;
    -moz-animation: cssload-load 0.92s linear 0.23s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+3) {
  transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
#cssload-loader .cssload-dot:nth-child(7n+3):before {
  background: rgb(0,170,255);
  animation: cssload-load 0.92s linear 0.35s infinite;
    -o-animation: cssload-load 0.92s linear 0.35s infinite;
    -ms-animation: cssload-load 0.92s linear 0.35s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.35s infinite;
    -moz-animation: cssload-load 0.92s linear 0.35s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+4) {
  transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#cssload-loader .cssload-dot:nth-child(7n+4):before {
  background: rgb(0,64,255);
  animation: cssload-load 0.92s linear 0.46s infinite;
    -o-animation: cssload-load 0.92s linear 0.46s infinite;
    -ms-animation: cssload-load 0.92s linear 0.46s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.46s infinite;
    -moz-animation: cssload-load 0.92s linear 0.46s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+5) {
  transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
}
#cssload-loader .cssload-dot:nth-child(7n+5):before {
  background: rgb(42,0,255);
  animation: cssload-load 0.92s linear 0.58s infinite;
    -o-animation: cssload-load 0.92s linear 0.58s infinite;
    -ms-animation: cssload-load 0.92s linear 0.58s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.58s infinite;
    -moz-animation: cssload-load 0.92s linear 0.58s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+6) {
  transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
#cssload-loader .cssload-dot:nth-child(7n+6):before {
  background: rgb(149,0,255);
  animation: cssload-load 0.92s linear 0.69s infinite;
    -o-animation: cssload-load 0.92s linear 0.69s infinite;
    -ms-animation: cssload-load 0.92s linear 0.69s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.69s infinite;
    -moz-animation: cssload-load 0.92s linear 0.69s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+7) {
  transform: rotate(315deg);
}
#cssload-loader .cssload-dot:nth-child(7n+7):before {
  background: magenta;
  animation: cssload-load 0.92s linear 0.81s infinite;
    -o-animation: cssload-load 0.92s linear 0.81s infinite;
    -ms-animation: cssload-load 0.92s linear 0.81s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.81s infinite;
    -moz-animation: cssload-load 0.92s linear 0.81s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+8) {
  transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}
#cssload-loader .cssload-dot:nth-child(7n+8):before {
  background: rgb(255,0,149);
  animation: cssload-load 0.92s linear 0.92s infinite;
    -o-animation: cssload-load 0.92s linear 0.92s infinite;
    -ms-animation: cssload-load 0.92s linear 0.92s infinite;
    -webkit-animation: cssload-load 0.92s linear 0.92s infinite;
    -moz-animation: cssload-load 0.92s linear 0.92s infinite;
}

/*.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height : 100vh;
}*/

.loader .wrap{
    position: fixed;
    top: 73px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    opacity: 0.9;
}

@keyframes cssload-load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-o-keyframes cssload-load {
  100% {
    opacity: 0;
    -o-transform: scale(1);
  }
}

@-ms-keyframes cssload-load {
  100% {
    opacity: 0;
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes cssload-load {
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cssload-load {
  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

/*Login page css start*/

*,
h1,
h2 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}


#header {
  display: inline-block;
  width: 100%;
}

#footer {
  background: #ffffff;
  padding: 20px 10px;
  color: #a3a3a3;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 50px;
  position: fixed;
}

.main-wrapper {
  width: 100%;
  padding: 0px 20px;
}

.main-logo {
  padding: 20px;
}

.main-logo img {
  width: 150px;
  height: auto;
}

.navbar-default .navbar-brand {
  padding: 0;
  margin: 0
}

.navbar-default {
  background: #fff;
}

#header .nav {
  min-height: 50px
}

.navbar-brand {
  width: 100%;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.message-block {
  padding: 10px 10px;
  font-size: 18px;
  color: #00a2d3;
  line-height: 26px;
  display: inline-block;
  font-family: 'bpreplaybold_italic';
}

.message-block.detail {
  text-align: center;
  display: block;
}

.message-block.detail h3 {
  line-height: 35px;
  font-size: 22px;
  padding: 0 10px;
  font-family: 'bpreplaybold_italic';
}

.message-block.thankyou {
  text-align: center;
}

.message-block.thankyou h3 {
  font-size: 22px;
  color: #009bca;
  line-height: 35px;
  padding: 0 14px;
  font-family: 'bpreplaybold_italic';
}

.btn-container .btn {
  border-radius: 10px;
  width: 210px;
  background: #ff3a82;
  border-color: #fff;
  border-bottom: 7px solid #ff1775;
  margin: 12px auto;
}

.camera-container {
  text-align: center;
}

a.btn-capture {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  padding: 21px;
  width: 100%;
  display: block;
  text-align: center;
}

.green {
  background: green;
}

.red {
  background: red;
}

.pink {
  background: #ff4a9a;
}

.video-wrapper {
  width: 100%;
  overflow: hidden;
}

.bottom-button {
  position: fixed;
  bottom: 60px;
  width: 100%;
  background: #da348d;
  height: 70px;
}

.navbar-brand {
  height: auto;
}

.btn-lbl {
  background: #e54661;
  color: #fff;
  padding: 10px 37px;
  width: 67%;
  box-sizing: border-box;
  margin: 30px 0 20px;
  border-radius: 7px;
  font-size: 20px;
  line-height: 23px;
  box-shadow: 0px 8px 0 0 #c61c41;
  font-weight: 600;
  position: relative;
  max-width: 234px;
}

.btn-lbl span {
  font-size: 15px;
  font-weight: normal;
}

label.lbl-sm {
  font-size: 11px;
  color: #707277;
  font-weight: 200;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
}


.file-upload {
  position: relative;
}


.file-upload__label:hover {
  cursor: pointer;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.lbl-conf {
  display: block;
  width: 88%;
  margin: 30px auto;
  position: relative;
}

.lbl-conf input[type="checkbox"] {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: -16px;
  top: 0;
}

.btn-lbl.green {
  background: #b9d300;
  box-shadow: 0px 8px 0 0 #81ad40;
  border: 0;
  margin: 0 auto;
  display: block;
  font-size: 25px;
  padding: 18px;
}

.lbl-conf .inp-check+label {
  color: #ccc;
  font-style: italic;
}

.lbl-conf .inp-check:checked+label {
  font-style: normal;
}

.licenece-detail p {
  font-size: 20px;
  display: block;
  padding: 0 20px;
  color: #707277;
  margin-bottom: 10px;
}



a.back {
  color: #009bcb;
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 16px;
  font-size: 15px;
  line-height: 30px;
}

a.back:before {
  content: "\e257";
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  font-weight: bolder;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
}

#footer .left {
  display: inline-block;
  width: 66%;
  font-weight: 100;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

#footer .ft-logo {
  display: inline-block;
  text-align: right;
  width: 32%;
  vertical-align: top;
}

#footer .ft-logo img {
  width: 80px;
  height: auto;
}

@media (max-width: 559px) {

  #toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: auto;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
  }

  #toast-container > div {
    padding: 18px 8px 8px 50px;
    width: 100%;
    border-radius: 0px;
  }

  .message-block {
    font-size: 17px;
    line-height: 25px;
  }

  .btn-lbl {
    margin: 15px 0 20px;
    max-width: 214px;
    padding: 6px 26px;
    font-size: 18px;
  }
  .main-logo {
    padding: 11px;
  }

  #footer {
    padding: 8px 10px;
  }

  #footer p {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .message-block {
    font-size: 14px;
    line-height: 22px;
  }

  .btn-lbl {
      margin: 5px 0 20px;
      max-width: 204px;
      padding: 2px 26px;
      font-size: 14px;
  }

  .btn-lbl span {
      font-size: 13px;
      line-height: 22px;}

  .main-logo {
      padding: 5px;
  }

  .message-block.detail h3 {
    line-height: 30px;
    font-size: 18px;
    margin: 0;
    }

    .message-block.detail {
        padding: 5px;
    }

    .licenece-detail p {
        font-size: 15px;
        margin-bottom: 6px;
    }

    .lbl-conf {
        margin: 15px auto;
    }

    .btn-lbl.green {
        font-size: 18px;
        padding: 9px;
        line-height: 22px;
    }
}
