<div class="container">
	<form>
		<div class="message-block detail">
		<h3>Your License disc details are the following:</h3>
		</div>
		<div class="licenece-detail">
		<p>Engine No:<span> {{discData?.engineNo}} </span></p>
		<p>VIN No:<span> {{discData?.vin}} </span></p>
		<p>Reg No:<span> {{discData?.vehRegNo}} </span></p>
		</div>
		<div class="lbl-conf">
		
			
			<label class="lbl-sm">
				<input type="checkbox" class="inp-check"  name="terms">
				I confirm that the above information is correct and is displayed on my license disc as the above inofrmation.
			</label>

		</div>



		<button type='button' class="btn btn-primary btn-lbl green" [routerLink]="['/main/thankyou']">Submit</button>
	</form>
</div>

