<div class="container">
	<div class="message-block">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	</div>

	<div class="btn-container text-center">
		<div class="file-upload">
			<label class="btn-lbl file-upload__label" for="file1">
				<input class="inputfile form-control file-upload__input" name='file1' type="file" accept="image/*" id="file" (change)="onFileChange($event)"/>Upload <br/> <span>your license disc</span>
			</label>
	    </div>
	
		<div class="file-upload">
		<label class="btn-lbl file-upload__label" for="file2">
			<input class="inputfile form-control file-upload__input"  name='file2' type="file" accept="image/*" id="capture" capture="camera" (change)="onFileChange($event)"/>Capture <br/> <span>your license disc</span></label>
		</div>	
	</div>
</div>

<div class="loader" *ngIf='showLoader'>
	<div class="wrap"></div>
	<div id="cssload-loader">
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
	</div>
</div>
