
<div class="camera-container">
	<div class="video-wrapper">
		<div [hidden]="showVideo">
			<video #videoplayer [width]="width" [height]="height" autoplay></video> <br>
		</div>

		<div [hidden]="!showVideo">
			<canvas #canvas [width]="width" [height]="height"></canvas> <br>
		</div>
	</div>
</div>

<div class="bottom-button">
	<a *ngIf="!showVideo" class='btn-capture pink' href="javascript:;" id="snap" (click)="capture()"><i class="fa fa-camera" aria-hidden="true"></i></a>
	<a *ngIf="showVideo" class='btn-capture green' href="javascript:;" id="save" (click)="saveImage()"><i class="fa fa-check" aria-hidden="true"></i></a>
</div>

<!-- <img [src]='myImg'/> -->