<!-- Header -->
<header id="header" class="header">
	<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="back" href="javascript:;" title="back" (click)='goBack()' *ngIf="checkBack()">Back</a>
          <a class="navbar-brand" href="javascript:;"><h1 class='main-logo'><img src="assets/images/logo.png" alt=""></h1></a>
        </div>
      </div>
    </nav>
</header>
<!-- /Header -->

<!-- Partial View -->
<div class="content">
  	<router-outlet></router-outlet>
</div>
<!-- /Partial View -->

<!-- Footer -->
<footer id="footer" class="footer">
	<div class="container">
		  <div class="detail">
          <div class="left"><p>MotorHappy (Pty) Ltd, is an authorised Financial Services Provider FSP 46123.Reg No.: 2014/020352/07 </p></div>
          <div class="ft-logo"><img src="assets/images/footer-logo.png" alt=""></div>
      </div>
	</div>
</footer>
<!-- /Footer -->

